/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	html {
		font-family: 'Noto Sans', 'Noto Sans CJK JP', sans-serif;
	}
	div {
		border: solid 0.5px black;
	}
	header {
		border: solid 0.5px yellowgreen;
	}
	main {
		border: solid 0.5px darkred;
	}
}
